.CandidateCard {
  text-decoration: none;

  button {
    @include flex(start);

    height: 40rem;
    padding: 2.1rem;

    > div {
      @include vertical-rhythm(1.2);
    }

    > span {
      margin: 0;
    }

    img {
      width: auto;
      height: 150px;
      margin: auto;
      border-radius: 1rem;

      @media screen and (width <= 768px) {
        height: 100px;
      }
    }

    .candidate-info {
      width: 100%;
      padding: 0;

      &__main {
        overflow-y: auto;

        > span {
          color: #8badeb;
        }
      }

      &__secondary {
        > .contacts {
          span {
            &.contacts__row {
              @include flex(space-between);

              overflow-wrap: break-word;
              overflow-y: auto;

              > span {
                &:last-of-type {
                  color: #000;
                }
              }
            }
          }
        }
      }
    }
  }
}
