@import "./mixins";

html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  @include flex(
    $spacing: stretch,
    $alignment: stretch,
    $direction: column,
    $wrap: nowrap
  );

  background-color: #f9fafa;
}

main {
  padding: 2rem $padding-main-side;
  flex-grow: 1;

  @media screen and (width <= 768px) {
    padding: 2rem calc($padding-main-side / 4);
  }
}

footer {
  margin-top: auto;
}
