@import "./mixins";

html {
  font-size: 10px;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  @include flex(
    $spacing: stretch,
    $alignment: stretch,
    $direction: column,
    $wrap: nowrap
  );

  background-color: #f9fafa;
}

main {
  padding: 3rem $padding-main-side;
  flex-grow: 1; /* Take up remaining vertical space */
}

footer {
  margin-top: auto;
}
