.DirectCandidatesPage {
  @include flex(
    $spacing: stretch,
    $alignment: stretch,
    $direction: column,
    $wrap: nowrap
  );
  @include vertical-rhythm(2);

  height: 100%;

  > .direct-candidates__info {
    @include vertical-rhythm(0.4);

    padding: 1.6rem 3.2rem;
  }
}
