.CandidateList {
  @include flex($alignment: stretch, $direction: column, $wrap: nowrap);

  flex: 1;

  .candidate-list {
    margin-bottom: 2rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2rem;

    @media (width <= 480px) {
      grid-template-columns: auto; /* Single column layout */
    }

    @media (width >= 481px) and (width <= 768px) {
      grid-template-columns: repeat(2, auto); /* Two-column layout */
    }

    .candidate-list__item {
      @include flex(center, center);

      padding: 0;

      > a {
        flex: 1;
      }
    }
  }

  .Pagination {
    @include flex(center, center);

    margin-top: auto;
  }
}
